@page "/Add"

@inherits AddBase

<div class="container">
    @if (saving)
    {
        <Saving/>
    }
    else if (loading)
    {
        <Loading/>
    }
    else
    {
        <EditBar ChangeCount="changeCount"
                 IsValid="IsValid"
                 IsDirty="isDirty"
                 SaveAsync="SaveAsync"/>
        <div class="row">
            <div class="col-12">
                <Editor DocumentToEdit="document"
                        Insert="true"
                        @bind-IsValid="IsValid"
                        @bind-ChangeCount="changeCount"
                        @ref="editor" />
            </div>
        </div>
    }
</div>