.code {
    padding-top: 1em;
    height: 60vh;
    color: green;
    background: black;
    font-family: Consolas, monospace;
    width: 60vw;
    overflow: scroll;
}

.web {
    padding-top: 1em;
    height: 60vh;
    background-color: lightgray;
    font-size: 0.8em;
    width: 60vw;
    overflow: scroll;
}