@inject LoadingService LoadingService
@if (LoadingService.Loading)
{
    <span>📀Loading...</span>
}

@code { 
    bool registered = false;
    protected override void OnInitialized()
    {
        if (!registered)
        {
            registered = true;
            LoadingService.OnLoadingChanged += (o, e) =>
                InvokeAsync(StateHasChanged);
        }
        base.OnInitialized();
    }
}