@inject LoadingService LoadingService

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <CascadingValue Value="LoadingService">
            <div class="content px-4">
                @Body
            </div>
        </CascadingValue>
    </div>
</div>