@inherits TagPickerBase

@if (Tags != null && Tags.Count > 0)
{
    foreach (var tag in Tags)
    {
        <span>
            "@tag" [<a href="#"
                       title="Remove"
                       @onclick="async () => await RemoveAsync(tag)"
                       @onclick:preventDefault>x</a>]
            &nbsp;
        </span>
    }
}
@if (pickNew)
{
    <TagSearch @bind-Tag="@NewTag" />
}
else
{
    <a href="#"
       @onclick="() => pickNew = true"
       @onclick:preventDefault>Pick Existing</a>
}
&nbsp;
<input type="text" placeholder="Enter new tag"
       @bind-value="addTag"
       @bind-value:event="oninput" />[
@if (string.IsNullOrWhiteSpace(addTag))
{
    <span>&nbsp;</span>
}
else
{
    <a href="#"
       title="Add Tag"
       @onclick="() => NewTag = addTag"
       @onclick:preventDefault>+</a>
}]